<h3 style="text-align: center;">Races</h3>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <b><u>Alliance:</u></b>
            <ul class="list-group">
                <%@races.order(:name).each do |race| %>
                    <% if race.faction === "Alliance" %>
                            <%= link_to race.name, race, class: " list-group-item list-group-item-action btn btn-outline-info" %>
                    <% end %>
                <% end %>
            </ul>
        </div>

        <div class="col-sm">
            <b><u>Horde:</u></b>
            <ul class="list-group">
                <%@races.order(:name).each do |race| %>
                    <% if race.faction === "Horde" %>
                            <%= link_to race.name, race, class: " list-group-item list-group-item-action btn btn-outline-info" %>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</div>