<% if user_signed_in? %>
    <% @characters.each do |c| %>
        <li>
        <%= link_to c.name, c %> - <%= c.level %>
        </li>
    <% end %>
    <br> <br>
    <%= link_to 'Add Character', new_character_path %>



<% end %>